{# templates/main/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Liste des CDs{% endblock %}

{% block body %}
    <h1>Liste des CDs</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Genre</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cd in cds %}
                <tr>
                    <td>{{ cd.id }}</td>
                    <td>{{ cd.titre }}</td>
                    <td>{{ cd.auteur }}</td>
                    <td>{{ cd.genre }}</td>
                    <td>{{ cd.prix }}€</td>
                    <td><img src="{{ cd.pochette }}" alt="Pochette" width="50"></td>

                    <!-- Bouton pour ajouter le CD au panier -->
                    <td><a href="{{ path('app_main') }}?add_to_cart={{ cd.id }}" class="btn btn-primary">Ajouter au panier</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Lien pour voir le panier -->
    <a href="{{ path('app_cart') }}" class="btn btn-success">Voir le panier</a>

{% endblock %}
